@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-navy: #002B5C;
  --color-brand-sky: #0C91CC;
  --color-brand-white: #E8E9EA;
}

@layer base {
  body {
    @apply font-sans text-brand-navy bg-white antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
